*.a
*.la
*.lo
*.o
*.orig
*.pyc
*.rej
*.tar.bz2
*.tar.gz
*.tar.xz
*~
.deps
.emacs*
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autoconf.h
autoconf.h.in
autom4te.cache
build-aux
config.log
config.status
configure
configure.ac
core
gmon.out
libltdl
libtool
m4
stamp-h1
